* {
    margin: 0;
    padding: 0;
  }
  .container{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  .main {
    width: 223px;
    background-color: #fca311;
    border-radius: 10px;
    padding-bottom: 30px;
    margin: 15px;
    height: 400px;
    margin-top: 100px;
  }
  .item {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 250px;
  }
  .main h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #14213d;
  }
  .main h3 {
    margin-bottom: 10px;
    color: #14213d;
  }
  .linkbutton {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }
  
  .main h3 {
    margin-left: 10px;
  }
  .link {
    color: #14213d;
    text-decoration: none;
    font-weight: bold;
  }
  .link:hover {
    text-decoration: underline;
  }
  .linkbutton button {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: #fca311 1px solid;
    background-color: #14213d;
    color: #fca311;
    cursor: pointer;
    transition: all 0.3s ease-in;
    font-weight: bold;
  }
  
  .linkbutton button:hover {
    background-color: #fca311;
    color: #14213d;
    font-weight: bold;
    border: #14213d 1px solid;
  }
  
  .trashicon {
    width: 15px;
    
  }
  
  .icon {
    width: 26px;
    font-size: 15px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .num{
    background-color: #14213d;
    color: #fca311;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }
  