.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.loading{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
